body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #d38b8b;
}
h1, h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
}
input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background:#6b4226; 
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #703505; 
}
.toggle-link {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
}