<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gestión de Usuarios</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../static/css/style.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="../static/img/logogandalf.png">
</head>

<body >
    <div>
        <ul class="menu">
            <li><a href="indexAdmin.html">Inicio</a></li>
            <li><a href="usuarios.html">Usuarios</a></li>
            <li><a href="libros.html">Libros</a></li>  
        </ul>
        <div class="text-left bg-white text-black p-4">
            <div class="d-flex align-items-center">
                <img src="../static/img/logogandalf.png" alt="Logo de la biblioteca" style="max-height: 50px;">
            <h1>Formulario de Gestión de Prestamos</h1>
        </div>
        <main class="d-flex">
            <!-- <div class="container-fluid p-2">
                <form class="card p-4" id="formulario">
                    <div class="m-1">
                        <label class="form-label" for="nombreu">Nombre de Usuario</label>
                        <input class="form-control" type="text" name="nombreu" id="nombreu" onblur="verificar(this.id)">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="mail">Email</label>
                        <input class="form-control" type="email" name="mail" id="mail" onblur="verificar(this.id)">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="titulo">Título del Libro</label>
                        <input class="form-control" type="text" name="titulo" id="titulo" onblur="verificar(this.id)">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="fecha-publicacion">Fecha de Prestamo</label>
                        <input class="form-control" type="date" id="fecha-prestamo" onblur="verificar(this.id)">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="cantidad">Cantidad</label>
                        <input class="form-control" type="number" id="cantidad" name="cantidad" onblur="verificar(this.id)">
                    </div>
                </form>
                <div class="d-flex justify-content-left">
                    <button class="btn btn-success m-5" id="btn-enviarprestamo" value="Enviar">Enviar</button>
                    <button class="btn btn-warning m-5" id="btn-limpiarprestamo" onclick="limpiarPrestamo()">Limpiar</button>
                </div>
            </div> -->
            <div class="col-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-header-custom">
                            <tr>
                                <th>Cantidad</th>
                                <th>Fecha</th>
                                <th>Libro</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody id="contenido"></tbody>
                    </table>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../src/js/admin/prestamos.js" type="module"></script>
        <script src="../src/js/admin/verifica.js"></script>
    </body>
    </html>
    